In [1]:
import pandas as pd

In [2]:
>>> import nltk
#>>> nltk.download()

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Neil Young,Burned,"Been burned and with both feet on the ground, ..."
1,Vertical Horizon,Can You Help Me,Can you finally reach me \r\nOut beyond the b...
2,Hanson,Baby You're So Fine,"When I see you, uh huh, my heart fills with fl..."
3,Linda Ronstadt,Louise,Well they all said Louise was not half bad \r...
4,The Weeknd,The Knowing,I know what you did \r\nI know \r\nSo I'ma l...
5,Dan Fogelberg,Heart Hotels,Well there's too many windows in this old hote...
6,Michael Buble,You And I,Here we are \r\nOn earth together \r\nIt's y...
7,Jimmy Buffett,Jamaica Mistaica,Some folks say that I've got the perfect life ...
8,Bob Dylan,Hark! The Herald Angels Sing,"Hark! the herald angels sing \r\n""Glory to th..."
9,Guided By Voices,Smothered In Hugs,In the summer that you came \r\nThere was som...

In [10]:
df['text'][0]

"Been burned and with both feet on the ground,  \r\nI've learned that it's painful comin' down.  \r\nNo use runnin' away, and there's no time left to stay.  \r\nNow I'm finding out that it's so confusin',  \r\nNo time left and I know I'm losin'.  \r\n  \r\nFlashed and I think I'm fallin' down,  \r\nCrashed, and my ears can't hear a sound.  \r\nNo use runnin' away, and there's no time left to stay.  \r\nNow I'm finding out that it's so confusin',  \r\nNo time left and I know I'm losin'.  \r\n  \r\nNow I'm finding out that it's so confusin',  \r\nNo time left and I know I'm losin'.  \r\n  \r\nBurned and with both feet on the ground.  \r\nI've learned that it's painful comin' down.  \r\nNo use runnin' away, and there's no time left to stay.  \r\nNow I'm finding out that it's so confusin',  \r\nNo time left and I know I'm losin'.\r\n\r\n"

In [11]:
#df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', '', regex = True)

In [14]:
df.tail(5)

,artist,song,text
4995,Snoop Dogg,G Funk Intro,"yeah, \rthis is another story about dogs \rf..."
4996,Iggy Pop,Little Know It All,(feat. sum 41) \r \ri'm the kid that no one ...
4997,David Guetta,This One's For You,[verse 1: zara larsson] \rwe're born to fly ...
4998,Virgin Steele,Virgin Steele,wait till the twilight is gone and the \rheav...
4999,Counting Crows,Outside Chance,(original by the turtles - written by warron z...

In [15]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amitr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
import nltk
from nltk.stem.porter import PorterStemmer

In [17]:
stemmer = PorterStemmer()

In [18]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return" ".join(a)

In [19]:
(token("you are a beautiful"))

'you are a beauti'

In [20]:
df['text'].apply(lambda x: token(x))

0       been burn and with both feet on the ground , i...
1       can you final reach me out beyond the blue i '...
2       when i see you , uh huh , my heart fill with f...
3       well they all said louis wa not half bad it wa...
4       i know what you did i know so i'ma let you tas...
                              ...
4995    yeah , thi is anoth stori about dog for the do...
4996    ( feat . sum 41 ) i 'm the kid that no one kno...
4997    [ vers 1 : zara larsson ] we 're born to fli s...
4998    wait till the twilight is gone and the heaven ...
4999    ( origin by the turtl - written by warron zevo...
Name: text, Length: 5000, dtype: object

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [23]:
matrix=tfid.fit_transform(df['text'])

In [24]:
similar = cosine_similarity(matrix)

In [25]:
similar[1]

array([0.05389647, 1.        , 0.02209881, ..., 0.00100276, 0.00378912,
       0.01321836])

In [43]:
df[df['song'] == 'Virgin Steele'].index[0]
#if we not take index number than print song name,artist,text

4998

# Recommendation function

In [48]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    
    song = []
    for s_id in distances[1:21]:
        song.append(df.iloc[s_id[0]].song)
        
    return song

In [49]:
recommender("Virgin Steele")

["Every Day We Rock'n'roll",
 'Imma Shine',
 'Drive',
 'Maybe',
 'Burn This Disco Out',
 'Shake Your Body (Down To The Ground)',
 'Satellite',
 'Leave It All Behind',
 'Run To You',
 'In The Midnight Hour',
 'Try And Love Again',
 "I'm Gonna Move Right In",
 'Give In To Me',
 'No Tomorrow',
 'Peace In Our Time',
 '7 Nation Army',
 'In My Dreams',
 "I've Got Dreams To Remember",
 'I Got Shoes',
 'cry']

In [52]:
import pickle

In [56]:
pickle.dump(similar,open("similarity.pkl","wb"))

In [57]:
pickle.dump(df,open("df.pkl","wb"))